:root {
  --Pale-blue: rgba(224, 232, 255, 0.75);
  --Bright-blue: rgb(56, 41, 224);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: rgba(114, 128, 167, 0.75);
  --Dark-blue: rgba(31, 47, 86, 0.8);
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --colored-line: 0.2px solid var(--color-grey-light-4);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  min-height: 100vh;
  height: 100vh;
  width: auto;
  font-family: "Red Hat Display", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(var(--Pale-blue)), to(var(--Pale-blue))), url(/images/pattern-background-desktop.svg);
  background-image: linear-gradient(to left, var(--Pale-blue), var(--Pale-blue)), url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  width: 30rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.listening {
  width: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.order_summary {
  padding: 1rem;
  color: var(--color-grey-dark-1);
}

.description {
  padding: 0 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  color: var(--color-grey-dark-2);
}

.pricing__card {
  background-color: var(--Very-pale-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.notes {
  margin-right: 1rem;
}

.pricing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bold__text {
  font-weight: 700;
  color: var(--color-grey-dark-1);
}

.pricing__number {
  color: var(--color-grey-dark-3);
}

.change__text {
  margin-left: 7rem;
}

.change__text:hover {
  color: var(--Dark-blue);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.purple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--Bright-blue);
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1rem;
  border: none;
  padding: 1.2rem 7rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: .5rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  font-size: 1rem;
}

.purple:hover {
  background-color: var(--Dark-blue);
}

.white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
  color: var(--color-grey-dark-3);
  border: none;
  margin-bottom: 2rem;
  padding: 1.2rem 7rem;
  text-align: center;
  border-radius: .5rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
}

.white:hover {
  color: var(--color-grey-dark-1);
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  letter-spacing: 0.15rem;
  color: var(--Desaturated-blue);
}

.attribution__sent:link, .attribution__sent:visited {
  color: var(--Dark-blue);
  text-decoration: none;
  margin-left: 0.3rem;
}
/*# sourceMappingURL=main.css.map */